#container{
    height:500px;
    width:500px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

    
}

#container div{
    height: 100px;
    /* max-height: 400px; */
    width: 100px;
   
}

#div1{
    background-color: cyan;
    /* margin: 10px; */
    
}

#div2{
    background-color: red;
    /* margin: 20px; */
    
}

#div3{
    background-color: grey;
    /* margin: 30px; */
    
}


